.search-bar {
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    padding: 10px;
    margin-right: 5px;
    width: calc(100% - 135px);  /* Adjust based on the width of your sidebar */
}

.search-bar button {
    padding: 10px 20px;
}
