#dropdown-arrow {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
}

#dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#dropdown-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#dropdown-content button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#dropdown-arrow.active + #dropdown-content {
    display: block;
}