body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    /* Darker background */
    color: #ffffff;
    /* Light text color */
    margin: 0;
    padding: 0;
}

.header {
    background-color: #212121;
    /* Darker header background */
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.header img {
    height: 50px;
    margin-right: 20px;
}

.header .header-text {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    padding: 5px;
}

.content {
    padding: 20px;
    text-align: center;
}

.search-bar {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    background-color: #333;
    /* Darker search bar background */
    color: #ffffff;
    /* Light text color */
}

.footer {
    background-color: #212121;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 15px;
    margin: 0;
}

.footer a:hover {
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
}

.category-links {
    text-align: center;
    margin-top: 20px;
}

.category-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
}

.category-links a:hover {
    text-decoration: underline;
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .content img {
        max-width: 400px;
    }
}

@media (min-width: 900px) {
    .content img {
        max-width: 600px;
    }
}