.torrent {
    border: 1px solid #e0aaff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #2a2a3e;
    display: flex;
    /* Use flexbox */
    align-items: center;
    /* Center items vertically */
}

.torrent img {
    height: 50px;
    /* Adjust as needed */
    width: 50px;
    /* Adjust as needed */
    margin-right: 10px;
    /* Space between icon and info */
}

.torrent .torrent-info {
    flex: 1;
    /* Grow to take remaining space */
}