#repoList {
    list-style-type: none;
    padding: 0;
}

#repoList li {
    font-weight: bold;
}

#newRepoUrl {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
}

button {
    margin-top: 10px;
    margin-left: 5px; /* Add margin from the left */
    padding: 5px 10px;
    background-color: #4a47a3;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Rounded corners */
}

button:hover {
    background-color: #635bd6;
}


.button-remove:hover {
    background-color: #ff6666; /* Lighter red on hover */
}

.footer {
    background-color: #16213e;
    color: #e0aaff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#newRepoUrl {
    margin-top: 10px;
    padding: 8px; /* Increased padding for better appearance */
    width: 200px;
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #4a47a3; /* Border color */
    background-color: #1a1a2e; /* Background color */
    color: #e0aaff; /* Text color */
}

#newRepoUrl::placeholder {
    color: #7b7eff; /* Placeholder text color */
}
