/* Torrents.css */

.torrent {
    background-color: #16213e;
    color: #e0aaff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.torrent h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.download-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #fca311;
    color: #1a1a2e;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e5e5e5;
    color: #1a1a2e;
}

@media (max-width: 768px) {
    .button {
        width: 100%;
    }
}
